[Unit]
Description="n9e-server"
After=network.target

[Service]
Type=simple

ExecStart=/root/gopath/src/n9e/n9e server
WorkingDirectory=/root/gopath/src/n9e

Restart=on-failure
SuccessExitStatus=0
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=n9e-server


[Install]
WantedBy=multi-user.target
