[Unit]
Description="n9e-webapi"
After=network.target

[Service]
Type=simple

ExecStart=/root/gopath/src/n9e/n9e webapi
WorkingDirectory=/root/gopath/src/n9e

Restart=on-failure
SuccessExitStatus=0
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=n9e-webapi


[Install]
WantedBy=multi-user.target
