[Unit]
Description="n9e-server"

[Service]
Type=simple
ExecStart=/opt/n9e/server/n9e-server
WorkingDirectory=/opt/n9e/server

Restart=always
RestartSecs=1s
SuccessExitStatus=0
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=n9e-server


[Install]
WantedBy=multi-user.target
