[Unit]
Description="ibex-server"
After=network.target

[Service]
Type=simple

ExecStart=/root/gopath/ibex/ibex server
WorkingDirectory=/root/gopath/ibex

Restart=on-failure
SuccessExitStatus=0
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ibex-server


[Install]
WantedBy=multi-user.target
